<section>
  <h1><%= @company.name %></h1>
  <p><%= @company.location %></p>
  <p><%= @company.mail %></p>
  <p><%= @company.phone %></p>
</section>

<% @company.jobs.each do |job| %>
  <%= job.title %>
  <%= job.category %>
<% end %>
